html, body {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231,227,218);

}
body img {
    height: 50vmin;
}